.dark-purple
  .container
    .color-container
      %h1 NDC Drug Search

.container
  .pull-right.hidden-xs
    .btn.btn-primary{ style: 'border: 0;cursor:default;margin-left:20px' }
      = pluralize number_with_delimiter(@drugs.total_count), 'drug'
      found

  = form_tag drugs_path, method: :get, class: 'form-vertical' do
    = hidden_field_tag :order, params[:order]
    .input-group
      = text_field_tag 'search', params[:search], class: 'form-control', placeholder: 'Search Drugs', autocomplete: 'off'
      .input-group-btn
        = submit_tag 'Search', class: 'btn btn-primary', name: nil
        = link_to 'Reset', drugs_path, class: 'btn btn-default'

  %table.table.table-fixed
    %thead
      %tr
        = th_sort_field @order, 'drugs.product_ndc', 'Product NDC'
        = th_sort_field @order, 'drugs.proprietary_name', 'Proprietary Name'
        = th_sort_field @order, 'drugs.non_proprietary_name', 'Non Proprietary Name'
        %th Labeler Name
        %th Substance Name

    %tbody
      - @drugs.each do |drug|
        %tr
          %td= link_to drug.product_ndc, drug
          %td= drug.proprietary_name
          %td= drug.non_proprietary_name
          %td= drug.labeler_name
          %td= drug.substance_name

  .center
    = paginate @drugs, theme: 'bootstrap'


- if false
  %th Product ID
  %th Product NDC
  %th Product Type Name
  %th Proprietary Name
  %th Proprietary Name Suffix
  %th Non Proprietary Name
  %th Dosage Form Name
  %th Route Name
  %th Start Marketing Date
  %th End Marketing Date
  %th Marketing Category Name
  %th Application Number
  %th Labeler Name
  %th Substance Name
  %th Active Numerator Strength
  %th Active Ingredient Unit
  %th Pharm Classes
  %th DEA Schedule

  %td= drug.productid
  %td= link_to drug.product_ndc, drug
  %td= drug.product_type_name
  %td= drug.proprietary_name
  %td= drug.proprietary_name_suffix
  %td= drug.non_proprietary_name
  %td= drug.dosage_form_name
  %td= drug.route_name
  %td= drug.start_marketing_date
  %td= drug.end_marketing_date
  %td= drug.marketing_category_name
  %td= drug.application_number
  %td= drug.labeler_name
  %td= drug.substance_name
  %td= drug.active_numerator_strength
  %td= drug.active_ingred_unit
  %td= drug.pharm_classes
  %td= drug.dea_schedule
