- @title = "NDC Drug Search"

- content_for :header do
  .float-right.d-none.d-sm-block
    .btn.btn-primary
      = pluralize number_with_delimiter(@drugs.total_count), "drug"
      found
  = @title

= form_tag drugs_path, method: :get, class: "mb-3" do
  = hidden_field_tag :order, params[:order]
  .input-group
    = text_field_tag :search, params[:search], class: "form-control form-control-lg", placeholder: "Search drugs", autocomplete: "off", autofocus: params[:search].blank?
    .input-group-append
      = submit_tag "Search", class: "btn btn-primary btn-lg", name: nil
      = link_to "Reset", drugs_path, class: "btn btn-outline-primary btn-lg"

- if @drugs.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %thead
        %tr
          = th_sort_field @order, "drugs.product_ndc", "Product NDC", extra_class: "nowrap"
          = th_sort_field @order, "drugs.proprietary_name", "Proprietary Name"
          = th_sort_field @order, "drugs.non_proprietary_name", "Non Proprietary Name"
          %th Labeler Name
          %th Substance Name

      %tbody
        - @drugs.each do |drug|
          %tr
            %td.nowrap= link_to drug.product_ndc, drug
            %td= drug.proprietary_name
            %td= drug.non_proprietary_name
            %td= drug.labeler_name
            %td= drug.substance_name

  .center-horizontally
    = paginate @drugs, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    No drugs found.

- if false
  %th Product ID
  %th Product NDC
  %th Product Type Name
  %th Proprietary Name
  %th Proprietary Name Suffix
  %th Non Proprietary Name
  %th Dosage Form Name
  %th Route Name
  %th Start Marketing Date
  %th End Marketing Date
  %th Marketing Category Name
  %th Application Number
  %th Labeler Name
  %th Substance Name
  %th Active Numerator Strength
  %th Active Ingredient Unit
  %th Pharm Classes
  %th DEA Schedule

  %td= drug.productid
  %td= link_to drug.product_ndc, drug
  %td= drug.product_type_name
  %td= drug.proprietary_name
  %td= drug.proprietary_name_suffix
  %td= drug.non_proprietary_name
  %td= drug.dosage_form_name
  %td= drug.route_name
  %td= drug.start_marketing_date
  %td= drug.end_marketing_date
  %td= drug.marketing_category_name
  %td= drug.application_number
  %td= drug.labeler_name
  %td= drug.substance_name
  %td= drug.active_numerator_strength
  %td= drug.active_ingred_unit
  %td= drug.pharm_classes
  %td= drug.dea_schedule
