- @title = @drug.name_and_code

- content_for :header do
  = link_to "NDC Drug Search", drugs_path
  &middot;
  = @title

.dashboard-container
  = render "forms/horizontal/show/generic", title: "Product ID", content: @drug.productid
  = render "forms/horizontal/show/generic", title: "Product NDC", content: @drug.product_ndc
  = render "forms/horizontal/show/generic", title: "Product Type Name", content: @drug.product_type_name
  = render "forms/horizontal/show/generic", title: "Proprietary Name", content: @drug.proprietary_name
  = render "forms/horizontal/show/generic", title: "Proprietary Name Suffix", content: @drug.proprietary_name_suffix
  = render "forms/horizontal/show/generic", title: "Non Proprietary Name", content: @drug.non_proprietary_name
  = render "forms/horizontal/show/generic", title: "Dosage Form Name", content: @drug.dosage_form_name
  = render "forms/horizontal/show/generic", title: "Route Name", content: @drug.route_name
  = render "forms/horizontal/show/generic", title: "Start Marketing Date", content: @drug.start_marketing_date
  = render "forms/horizontal/show/generic", title: "End Marketing Date", content: @drug.end_marketing_date
  = render "forms/horizontal/show/generic", title: "Marketing Category Name", content: @drug.marketing_category_name
  = render "forms/horizontal/show/generic", title: "Application Number", content: @drug.application_number
  = render "forms/horizontal/show/generic", title: "Labeler Name", content: @drug.labeler_name
  = render "forms/horizontal/show/generic", title: "Substance Name", content: @drug.substance_name
  = render "forms/horizontal/show/generic", title: "Active Numerator Strength", content: @drug.active_numerator_strength
  = render "forms/horizontal/show/generic", title: "Active Ingredient Unit", content: @drug.active_ingred_unit
  = render "forms/horizontal/show/generic", title: "Pharm Classes", content: @drug.pharm_classes
  = render "forms/horizontal/show/generic", title: "DEA Schedule", content: @drug.dea_schedule
