- @title = 'Pediatric BMI Z-Score Calculator'
.section-heading
  %h1= @title
  .section-description= render 'calculators/reference'

.section-body
  .jumbotron
    %table.table.table-borderless.table-fixed
      %tr
        %td.text-right
          %h1
            Z-Score
        %td
          %h1
            %code= params[:zscore].to_f.round(2)
      %tr
        %td.text-right
          %h2
            BMI Percentile
        %td
          %h2
            %code= format('%0.3f%%', params[:bmi_percentile].to_f * 100)
    .center
      = link_to calculators_bmi_zscore_path(gender: params[:gender], weight: params[:weight], weight_units: params[:weight_units], height: params[:height], height_units: params[:height_units], dob: params[:dob], dov: params[:dov]), class: 'btn btn-default btn-xs' do
        %span.glyphicon.glyphicon-arrow-left
        Go Back to Calculator

  %table.table.table-borderless
    %col{ width: '200px' }
    %tr
      %td.text-right{ style: 'font-weight:bold' } Height
      %td
        = params[:height]
        = params[:height_units]
    %tr
      %td.text-right{ style: 'font-weight:bold' } Weight
      %td
        = params[:weight]
        = params[:weight_units]
    %tr
      %td.text-right{ style: 'font-weight:bold' } Body Mass Index
      %td= params[:bmi].to_f.round(2)
    %tr
      %td.text-right{ style: 'font-weight:bold' } Gender
      %td= params[:gender] == '1' ? 'Male' : 'Female'
    %tr
      %td.text-right{ style: 'font-weight:bold' } Date of Birth
      %td= params[:dob]
    %tr
      %td.text-right{ style: 'font-weight:bold' } Date of Visit
      %td= params[:dov]
    %tr
      %td.text-right{ style: 'font-weight:bold' } Age
      %td
        = params[:age_in_months].to_f.round(1)
        months
    %tr
      %td.text-right{ style: 'font-weight:bold' } L
      %td= params[:l]
    %tr
      %td.text-right{ style: 'font-weight:bold' } M
      %td= params[:m]
    %tr
      %td.text-right{ style: 'font-weight:bold' } S
      %td= params[:s]
    %tr
      %td.text-right{ style: 'font-weight:bold' } Z-Score
      %td= params[:zscore].to_f.round(2)
    %tr
      %td.text-right{ style: 'font-weight:bold' } BMI Percentile
      %td
        = format('%0.3f%%', params[:bmi_percentile].to_f * 100)
