- if @member.new_record?
  - url = editor_members_path
  - method = :post
- else
  - url = editor_member_path(@member)
  - method = :patch
= form_for @member, url: url, method: method, html: { class: 'form-horizontal' } do |f|
  - if @member.errors.any?
    .bs-callout.bs-callout-danger
      %h4
        = pluralize @member.errors.count, 'error'
        prohibited this member from being saved

      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :first_name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :first_name, class: 'form-control'

  .form-group
    = f.label :last_name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :last_name, class: 'form-control'

  .form-group
    = f.label :staffid, 'Staff ID', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :staffid, class: 'form-control', placeholder: '#-##', maxlength: 4, style: 'width: 62px'

  .form-group
    = f.label :email, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.email_field :email, class: 'form-control'

  .form-group
    = f.label :phone, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :phone, class: 'form-control'

  .form-group
    = f.label :role, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :role, class: 'form-control'

  .form-group
    = f.label :site_id, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.select :site_id, Site.current.order(:name).collect { |s| [s.name, s.id] }, { include_blank: true }, class: 'form-control'

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :archived
          Archived

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'cancel', url, class: ''
