%table.table.table-striped
  %thead
    %tr
      = th_sort_field @order, 'members.last_name', 'Name'
      = th_sort_field @order, 'members.email', 'Email', extra_class: 'hidden-xs'
      = th_sort_field @order, 'members.phone', 'Phone'
      = th_sort_field @order, 'members.role', 'Role', extra_class: 'hidden-xs'
      = th_sort_field @order, 'members.staffid', 'Staff ID', extra_class: 'hidden-xs'
      = th_sort_field @order, 'members.archived', 'Archived', extra_class: 'hidden-xs'
      %th Actions

  - @members.each do |member|
    %tr
      %td= link_to member.name_reverse, editor_member_path(member), style: "#{'text-decoration: line-through;' if member.archived?}"
      %td.hidden-xs= member.email
      %td= member.phone
      %td.hidden-xs= member.role
      %td.hidden-xs= member.staffid
      %td.hidden-xs
        - if member.archived?
          %span.glyphicon.glyphicon-eye-close.text-muted
      %td.nowrap
        = link_to 'Edit', edit_editor_member_path(member), class: 'btn btn-default btn-xs'
        = link_to 'Delete', editor_member_path(member), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete Member #{member.name}?" }

.center-horizontally
  = paginate @members, theme: 'bootstrap'
