%table.table.table-striped
  %thead
    %tr
      = th_sort_field @order, 'members.last_name', 'Name'
      = th_sort_field @order, 'members.email', 'Email'
      = th_sort_field @order, 'members.phone', 'Phone'
      = th_sort_field @order, 'members.role', 'Role'
      %th Actions

  %tr
    %td.center{ colspan: 5 }
      = link_to new_member_path do
        .glyphicon.glyphicon-plus
        Add New Member

  - @members.each do |member|
    %tr
      %td= link_to member.name_reverse, member
      %td= member.email
      %td= member.phone
      %td= member.role
      %td
        = link_to 'Edit', edit_member_path(member), class: 'btn btn-default btn-xs'
        = link_to 'Delete', member, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete Member #{member.name}?" }

.center
  = paginate @members, theme: 'bootstrap'
