- @title = "Edit Member: #{@member.name_was}"

.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-purple
        %h1.brand
          = link_to 'Members', editor_members_path
          &middot;
          = link_to @member.name_was, editor_member_path(@member)
          &middot;
          Edit

      .color-container
        = render 'form'

