- @title = "Edit Member: #{@member.name_was}"

.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1
        = link_to 'Members', editor_members_path
        &middot;
        = link_to @member.name_was, editor_member_path(@member)
        &middot;
        Edit
    .section-body= render 'form'
  .col-sm-3.col-sm-pull-9
    = render 'setup/menu'
