- @title = "#{@member.name} - Members"

- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_lg", edit_url: edit_editor_member_path(@member), delete_url: editor_member_path(@member), delete_confirmation: "Delete \"#{@member.name}\"?"
  = @member.name
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "members", editor_members_path
    %li.breadcrumb-muted= @member.name.downcase
- content_for :sidebar, render("setup/sidebar")

.dashboard-container
  = render "forms/horizontal/show/generic", title: "Site", content: link_to(@member.site.name, editor_site_path(@member.site)) if @member.site
  = render "forms/horizontal/show/text", object: @member, key: :role
  = render "forms/horizontal/show/text", object: @member, key: :email
  = render "forms/horizontal/show/text", object: @member, key: :staffid, key_name: "Staff ID"
  = render "forms/horizontal/show/text", object: @member, key: :phone
  = render "forms/horizontal/show/generic", title: "Committees", content: sanitize(@member.committees.collect { |c| link_to c.name, editor_committee_path(c) }.join(', '))
  = render "forms/horizontal/show/check_box", object: @member, key: :archived
