.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-purple
        %h1.brand
          = link_to 'Members', editor_members_path
          &middot;
          = @member.name
        %h4.purple
          = @member.email
        = link_to 'Edit Member', edit_editor_member_path(@member), class: 'btn btn-xs btn-default'

      %table.table.table-striped
        %tr
          %td Site
          %td= link_to @member.site.name, editor_site_path(@member.site) if @member.site
        %tr
          %td First name
          %td= @member.first_name
        %tr
          %td Last name
          %td= @member.last_name
        %tr
          %td Staff ID
          %td= @member.staffid
        %tr
          %td Email
          %td= @member.email
        %tr
          %td Phone
          %td= @member.phone
        %tr
          %td Role
          %td= @member.role
        %tr
          %td Committees
          %td= @member.committees.collect { |c| link_to c.name, editor_committee_path(c) }.join(', ').html_safe
        %tr
          %td Archived
          %td= simple_check @member.archived?
