%h2.brand About the Trial
%p
  The Pediatric Adenotonsillectomy Trial for Snoring
  = surround '(', ')' do
    = abbr 'PATS'
  is a research study looking at treatment options for children
  who have snoring and mild breathing problems during sleep, but
  do not have sleep apnea (stopped breathing during sleep). This is
  called mild sleep disordered breathing
  = surround '(', ').' do
    = abbr 'MSDB'
  = abbr 'MSDB'
  is often treated with surgery to take out the tonsils and
  adenoids, and
  = abbr 'MSDB'
  is also often observed or treated medically
  without surgery. It is not yet known whether
  = abbr 'MSDB'
  is associated with behavior or other health problems in children.

%p
  A common treatment for
  = abbr 'MSDB'
  is removal of the tonsils and adenoids, but this has not been
  well studied. This study will help us learn more about the
  different treatment options for children with
  = succeed '.' do
    = abbr 'MSDB'

%p
  Read more on
  = succeed '.' do
    = link_to 'ClinicalTrials.gov', 'https://clinicaltrials.gov/show/NCT02562040', target: '_blank'
