- content_for :header do
  = render 'external/welcome'

  #about.anchor-top
  .container
    = render 'external/about'

  .purple-border-top
  #participate.anchor-top
  .new-purple-light-fill
    .container
      = render 'external/participate'

  .purple-border-top
  #sites.anchor-top
  .container{ style: 'margin-bottom: -60px' }
    = render 'external/sites'

- content_for :footer do
  .purple-border-top
  #contact.anchor-top
  .purple-fill
    .container
      = render 'external/contact'
