- content_for :header do
  = render 'external/welcome'

  #about.anchor-top
  .container
    .dark-purple
      = render 'external/about'


  .purple-border-top
  #participate.anchor-top
  .container
    .dark-purple
      = render 'external/participate'

.purple-border-top
  = render 'external/sites'

- content_for :footer do
  .purple-border-top
    = render 'external/contact'
