= render "external/welcome"

#about.anchor-top
.container
  = render "external/about"

.purple-border-top
#participate.anchor-top
.bg-p50
  .container
    = render "external/participate"

.purple-border-top
#sites.anchor-top
.container
  = render "external/sites"

.purple-border-top
#contact.anchor-top
.bg-p50
  .container
    = render "external/contact"
