= render 'layouts/menu_logo'
%ul.left-menu
  %li.left-menu-header Dashboard
  %li
    = link_to 'Home', dashboard_path, class: (current_page?(dashboard_path) ? 'active' : nil)
  - if Committee.current.count > 0
    %li
      = link_to 'Committees', committees_path, class: (params[:controller] == 'committees' ? 'active' : nil)
  %li
    = link_to 'Directory', directory_path, class: (current_page?(directory_path) ? 'active' : nil)
  %li.left-menu-header Documents
  - Category.current.where(archived: false).each do |category|
    - if category.documents.where(archived: false).present?
      %li
        = link_to category.name, internal_category_path(category.slug), class: (current_page?(internal_category_path(category.slug)) ? 'active' : nil)
  - if current_user && (current_user.setup_role?)
    %li.left-menu-header Setup
    %li= link_to 'Overview', setup_path
