.col-12.col-md-3.col-xl-2.sidebar-wrapper
  .sidebar
    #sidebar-nav-wrapper.sidebar-nav-wrapper.collapse
      .pt-3.py-md-3.mx-3.my-0.ml-md-3.mb-md-3.mr-md-0
        %ul.sidebar-menu.sidebar-menu-shadow
          %li.sidebar-menu-header= render "sidebar/toggle", title: "Dashboard"
          %li= link_to "Overview", dashboard_path, class: current_page?(dashboard_path) ? "active" : nil

          - pages = Page.where(archived: false).order(Arel.sql("position nulls last"))
          - if pages.present?
            %li.sidebar-menu-header Slice
            - pages.each do |page|
              %li= link_to page.name, report_page_path(page), class: current_page?(report_page_path(page)) ? "active" : nil

          %li.sidebar-menu-header Reports
          %li
            = link_to "Eligibility - Screened", reports_static_eligibility_status_screened_path, class: (current_page?(reports_static_eligibility_status_path) || current_page?(reports_static_eligibility_status_screened_path) ? "active" : nil)
            = link_to "Eligibility - Consented", reports_static_eligibility_status_consented_path, class: (current_page?(reports_static_eligibility_status_consented_path) ? "active" : nil)
            = link_to "Demographics", reports_static_demographics_status_path(subjects: "randomized"), class: (params[:controller] == "reports" && params[:action] == "demographics" ? "active" : nil)
            = link_to "Screened", reports_static_screened_path, class: (current_page?(reports_static_screened_path) ? "active" : nil)
            = link_to "Consented", reports_static_consented_path, class: (current_page?(reports_static_consented_path) ? "active" : nil)
            = link_to "Eligible", reports_static_eligible_path, class: (current_page?(reports_static_eligible_path) ? "active" : nil)
            = link_to "Randomized", reports_static_randomized_path, class: (current_page?(reports_static_randomized_path) ? "active" : nil)
            = link_to "Data Quality", reports_static_data_quality_path, class: (current_page?(reports_static_data_quality_path) ? "active" : nil)
            = link_to "Report Card", reports_static_grades_path, class: (current_page?(reports_static_grades_path) ? "active" : nil)
            = link_to "Data Inconsistencies", reports_static_data_inconsistencies_path, class: (current_page?(reports_static_data_inconsistencies_path) ? "active" : nil)
