- @title = @category.name

- content_for :sidebar, render("internal/sidebar")

- content_for :header, @title

- if @category.description.present?
  .jumbotron.jumbotron-custom-text
    = @category.description

- if @documents.present? || @videos.present?
  .dashboard-container.dashboard-table
    - if @documents.present?
      %table.table.table-striped.table-borderless.table-hover.table-sticky
        %col.d-none.d-md-table-column{ width: "1%" }
        %col
        %col.d-none.d-md-table-column
        %col.d-none.d-sm-table-column
        %thead
          %tr
            %th.d-none.d-md-table-cell
            = th_sort_field @order, "documents.document", "Name"
            %th.d-none.d-md-table-cell Size
            = th_sort_field @order, "documents.created_at", "Uploaded", extra_class: "d-none d-sm-table-cell"

        - @documents.each do |document|
          %tr
            %td.d-none.d-md-table-cell
              = icon("fas", "file")
            %td= link_to document.name, internal_category_document_path(@category.top_level, @category.slug, document.id), data: { turbolinks: false }
            %td.d-none.d-md-table-cell
              %code.nowrap= number_to_human_size document.document.size
            %td.d-none.d-sm-table-cell.nowrap= document.created_at.strftime("%m-%d-%Y")

      .text-center
        = paginate @documents, theme: "bootstrap"
    - if @videos.present?
      %table.table.table-striped.table-borderless.table-hover.table-sticky
        %col.d-none.d-md-table-column{ width: "1%" }
        %col
        %col.d-none.d-sm-table-column
        %thead
          %tr
            %th.d-none.d-md-table-cell
            %th Name
            %th.d-none.d-sm-table-cell Added

        - @videos.each do |video|
          %tr
            %td.d-none.d-md-table-cell
              = icon("fas", "film")
            %td= link_to video.name, internal_category_video_path(@category.top_level, @category.slug, video.id)
            %td.d-none.d-sm-table-cell.nowrap= video.created_at.strftime("%m-%d-%Y")
      .text-center
        = paginate @videos, theme: "bootstrap"

.jumbotron.jumbotron-custom-text
  = icon("far", "comment")
  = mail_to ENV["support_email"], "Email us"
  if a document is outdated or you can"t find a specific document.
