.container
  .row
    .col-sm-9.col-sm-push-3
      .color-container.dark-purple
        %h1.brand= @category.name
        %h4.purple= @category.description

      .color-container.dark-purple
        - if @documents.present?
          %table.table.table-striped
            %col{ width: '1%' }
            %thead
              %tr
                %th
                = th_sort_field @order, 'documents.document', 'Name'
                %th Size
                = th_sort_field @order, 'documents.created_at', 'Uploaded'

            - @documents.where(archived: false).each do |document|
              %tr
                %td
                  %span.glyphicon.glyphicon-file
                %td= link_to document.name, internal_category_document_path(@category.top_level, @category.slug, document.id), data: { no_turbolink: true }
                %td
                  %code.nowrap= number_to_human_size document.document.size
                %td= document.created_at.strftime('%m-%d-%Y')

          .center
            = paginate @documents, theme: 'bootstrap'
        - if @category.videos.where(archived: false).present?
          %table.table.table-striped
            %col{ width: '1%' }
            %thead
              %tr
                %th
                %th Name
                %th Added

            - @category.videos.where(archived: false).each do |video|
              %tr
                %td
                  %span.glyphicon.glyphicon-film
                %td= link_to video.name, internal_category_video_path(@category.top_level, @category.slug, video.id)
                %td= video.created_at.strftime('%m-%d-%Y')

      .color-container.dark-purple
        %p.lead.center
          %span.glyphicon.glyphicon-comment
          = mail_to ENV['support_email'], 'Email us'
          if a document is outdated or you can't find a specific document.
    .col-sm-3.col-sm-pull-9
      = render 'internal/menu'
