.container
  .row
    .col-sm-3
      = render 'internal/menu'
    .col-sm-9
      .color-container.dark-purple
        %h1.brand Dashboard
        %h4.purple Pediatric Adenotonsillectomy Trial for Snoring

      - if @screened && @screened[:total] > 0
        .color-container
          %div{ style: 'margin-bottom: 20px', data: { object: 'draw-chart', series: @screened[:series].to_json, categories: @screened[:categories].to_json, title: @screened[:title], yaxis: @screened[:yaxis], xaxis: @screened[:xaxis] } }

      - if @consented && @consented[:total] > 0
        .color-container
          %div{ style: 'margin-bottom: 20px', data: { object: 'draw-chart', series: @consented[:series].to_json, categories: @consented[:categories].to_json, title: @consented[:title], yaxis: @consented[:yaxis], xaxis: @consented[:xaxis] } }

      - if @eligible && @eligible[:total] > 0
        .color-container
          %div{ style: 'margin-bottom: 20px', data: { object: 'draw-chart', series: @eligible[:series].to_json, categories: @eligible[:categories].to_json, title: @eligible[:title], yaxis: @eligible[:yaxis], xaxis: @eligible[:xaxis] } }

      - if @randomized && @randomized[:total] > 0
        .color-container
          %div{ style: 'margin-bottom: 20px', data: { object: 'draw-chart', series: @randomized[:series].to_json, categories: @randomized[:categories].to_json, title: @randomized[:title], yaxis: @randomized[:yaxis], xaxis: @randomized[:xaxis] } }

      .color-container.dark-purple
        .row
          .col-md-6
            %h2 Directory
            %p.lead
              The directory contains a list of every staff member on the PATS
              study.
            %p
              %span.glyphicon.glyphicon-check
              Check the
              = link_to 'directory', directory_path
              to verify that your contact information is correct.
          .col-md-6
            %h2 Committees
            %p.lead
              A complete list of committees is available.
            %p
              %span.glyphicon.glyphicon-check
              Please review your
              = succeed '.' do
                = link_to 'committee membership', committees_path
        .row
          .col-md-6
            %h2 Documents
            %p.lead
              Documents are categorized, and can be downloaded from the menu to
              the left.
            %p
              %span.glyphicon.glyphicon-question-sign
              Are we missing a document or is a document out of date?
              = mail_to ENV['support_email'], 'Send us'
              an updated version and we'll fix it.
      .color-container.dark-purple
        %p.lead.center
          %span.glyphicon.glyphicon-comment
          Please
          = mail_to ENV['support_email'], 'contact us'
          with any questions you may have.
