- @title = "Directory"

- content_for :header, @title
= render "internal/tabs"
- content_for :sidebar, render("directory/sidebar")

.jumbotron.jumbotron-custom-text
  = icon("far", "envelope")
  = mail_to ENV["support_email"], "Send us an email", subject: "PATS Directory Information"
  if you are not listed or if your information is incorrect.

- @members.group_by(&:site).sort{|a,b| ((a[0] ? a[0].name : "_") <=> (b[0] ? b[0].name : "_"))}.each do |site, members|
  .dashboard-container.dashboard-table
    %h2.dashboard-lead= site ? site.name : "No Site"
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %thead
        %tr
          = th_sort_field @order, "members.last_name", "Name"
          = th_sort_field @order, "members.email", "Email"
          = th_sort_field @order, "members.phone", "Phone"
          = th_sort_field @order, "members.role", "Role"
          = th_sort_field @order, "members.staffid", "Staff ID"

      - members.each do |member|
        %tr
          %td= member.name_reverse
          %td= member.email
          %td.nowrap= member.phone
          %td= member.role
          %td= member.staffid
