.container
  .row
    .col-md-3
      = render 'internal/menu'
    .col-md-9
      .color-container.dark-brown
        %h1.brand Directory
        %h4.brown Pediatric Adenotonsillectomy Trial for Snoring

      - @members.group_by(&:site).sort{|a,b| ((a[0] ? a[0].name : '_') <=> (b[0] ? b[0].name : '_'))}.each do |site, members|
        .color-container.dark-purple
          %h2= site ? site.name : 'No Site'

          %table.table.table-striped
            %thead
              %tr
                = th_sort_field @order, 'members.last_name', 'Name'
                = th_sort_field @order, 'members.email', 'Email'
                = th_sort_field @order, 'members.phone', 'Phone'
                = th_sort_field @order, 'members.role', 'Role'

            - members.each do |member|
              %tr
                %td= member.name
                %td= member.email
                %td= link_to member.phone, "tel:#{member.phone}" if member.phone.present?
                %td= member.role
