.container
  .row
    .col-sm-3
      = render 'internal/menu'
    .col-sm-9
      .color-container.dark-purple
        %h1.brand Directory
        %h4.purple Pediatric Adenotonsillectomy Trial for Snoring

      - @members.group_by(&:site).sort{|a,b| ((a[0] ? a[0].name : '_') <=> (b[0] ? b[0].name : '_'))}.each do |site, members|
        .color-container.dark-purple
          %h2= site ? site.name : 'No Site'

          %table.table.table-striped
            %thead
              %tr
                = th_sort_field @order, 'members.last_name', 'Name'
                = th_sort_field @order, 'members.email', 'Email'
                = th_sort_field @order, 'members.phone', 'Phone'
                = th_sort_field @order, 'members.role', 'Role'
                = th_sort_field @order, 'members.staffid', 'Staff ID'

            - members.each do |member|
              %tr
                %td= member.name_reverse
                %td= member.email
                %td.nowrap= member.phone
                %td= member.role
                %td= member.staffid
