%ul.navbar-nav.mr-auto.display-small-scrolled
  - if public_page?
    %li.nav-item= link_to "About", current_page?(root_path) ? "#about" : root_path(anchor: "about"), data: { object: "remove-collapse-in scroll-anchor", target: ".navbar-full-menu" }, class: "nav-link"
    %li.nav-item= link_to "Participate", current_page?(root_path) ? "#participate" : root_path(anchor: "participate"), data: { object: "remove-collapse-in scroll-anchor", target: ".navbar-full-menu" }, class: "nav-link"
    %li.nav-item= link_to "Sites", current_page?(root_path) ? "#sites" : root_path(anchor: "sites"), data: { object: "remove-collapse-in scroll-anchor", target: ".navbar-full-menu" }, class: "nav-link"
    %li.nav-item= link_to "Contact", current_page?(root_path) ? "#contact" : root_path(anchor: "contact"), data: { object: "remove-collapse-in scroll-anchor", target: ".navbar-full-menu" }, class: "nav-link"
  - elsif current_user || current_viewer
    %li.nav-item{ class: "#{"active" if current_page?(dashboard_path)}" }= link_to "Dashboard", dashboard_path, class: "nav-link"
    %li.nav-item{ class: "#{"active" if current_page?(committees_path)}" }= link_to "Committees", committees_path, class: "nav-link"
    %li.nav-item{ class: "#{"active" if current_page?(directory_path)}" }= link_to "Directory", directory_path, class: "nav-link"


%ul.navbar-nav
  - if (current_user || current_viewer) && false # TODO: implement search
    %li.nav-item{ class: current_page?(search_path) ? "active" : nil }
      = link_to search_path, class: "nav-link" do
        %i.fa.fa-search.d-none.d-lg-inline
        Search
      - if current_page?(search_path)
        %span.sr-only (current)
  - if current_user || current_viewer
    - if false # Notifications
      %li.nav-item.d-none.d-lg-block{ class: current_page?(notifications_path) ? "active" : nil }
        = link_to notifications_path, class: "nav-link notifications-link#{" notifications-link-active" if current_user.unread_notifications?}" do
          = content_tag :i, nil, class: "fa fa-#{icon} d-inline d-lg-none" if defined?(icon)
          %i.fa.fa-bell
        - if current_page?(notifications_path)
          %span.sr-only (current)
    = render "menu/dropdown_account"
  - else
    %li.nav-item
      = link_to new_user_session_path, class: "nav-link" do
        Staff Login
      - if current_page?(new_user_session_path)
        %span.sr-only (current)

- if false
  %ul.navbar-nav
    - if current_user || current_viewer
      - if public_page?
        %li.nav-item.visible-xs{ class: "#{ 'active' if current_page?(dashboard_path) }" }= link_to 'Dashboard', dashboard_path, class: "nav-link"
      - else
        %li.nav-item{ class: "#{'active' if current_page?(dashboard_path)}" }= link_to 'Dashboard', dashboard_path, class: "nav-link"
        %li.nav-item{ class: "#{'active' if current_page?(committees_path)}" }= link_to 'Committees', committees_path, class: "nav-link"
        %li.nav-item{ class: "#{'active' if current_page?(directory_path)}" }= link_to 'Directory', directory_path, class: "nav-link"
      - if current_user && current_user.setup_role?
        %li.nav-item.visible-xs{ class: "#{ 'active' if current_page?(setup_path) }" }= link_to 'Setup', setup_path, class: "nav-link"
    - if public_page?
      %li.nav-item= link_to 'About', current_page?(root_path) ? '#about' : root_path(anchor: 'about'), data: { object: 'remove-collapse-in scroll-anchor', target: '.navbar-full-menu' }, class: "nav-link"
      %li.nav-item= link_to 'Participate', current_page?(root_path) ? '#participate' : root_path(anchor: 'participate'), data: { object: 'remove-collapse-in scroll-anchor', target: '.navbar-full-menu' }, class: "nav-link"
      %li.nav-item= link_to 'Sites', current_page?(root_path) ? '#sites' : root_path(anchor: 'sites'), data: { object: 'remove-collapse-in scroll-anchor', target: '.navbar-full-menu' }, class: "nav-link"
      %li.nav-item= link_to 'Contact', current_page?(root_path) ? '#contact' : root_path(anchor: 'contact'), data: { object: 'remove-collapse-in scroll-anchor', target: '.navbar-full-menu' }, class: "nav-link"

  - if current_user || current_viewer
    %form.navbar-form.navbar-right.hidden-sm
      = link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary-dark'
  - else
    %form.navbar-form.navbar-right
      = link_to 'Staff Login', new_user_session_path, class: 'btn btn-primary-dark'

  - if current_user || current_viewer
    %ul.nav.navbar-nav.navbar-right.hidden-xs{ style: 'max-height: 50px' }
      %li.dropdown.hidden-xs
        = link_to '#', class: 'dropdown-toggle', data: { object: 'dropdown', toggle: 'dropdown' } do
          = current_user ? current_user.first_name : current_viewer.username
          - if current_user && current_user.staff_id.present?
            %code{ style: 'color: #fff;' }= current_user.staff_id
          %span.caret
        %ul.dropdown-menu{ role: 'menu' }
          %li
            = link_to dashboard_path do
              %span.glyphicon.glyphicon-blackboard
              Dashboard
          - if current_user && current_user.setup_role?
            %li.divider
            %li
              = link_to setup_path do
                %span.glyphicon.glyphicon-cog
                Setup
          %li.divider.visible-sm
          %li.visible-sm
            = link_to destroy_user_session_path do
              %span.glyphicon.glyphicon-log-out
              Logout
      %li.visible-xs
        = link_to 'Dashboard', dashboard_path
      - if current_user && current_user.setup_role?
        %li.visible-xs= link_to 'Setup', setup_path
