%li.nav-item.dropdown.d-none.d-lg-block
  .btn-group.nav-item
    - if false
      = link_to icon("fas", "ellipsis-v"), "#", class: "nav-link", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }
    - else
      = link_to "#", class: "nav-link dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do
        = current_user ? current_user.first_name : current_viewer.username
        - if current_user && current_user.staff_id.present?
          %code= current_user.staff_id
        = profile_picture_tag(current_user, size: 20)

    .dropdown-menu.dropdown-menu-right.dropdown-menu-custom
      .dropdown-menu-custom-inner
        = link_to "Dashboard", dashboard_path, class: "dropdown-item"
        = link_to "Settings", settings_path, class: "dropdown-item"

        .dropdown-divider
        - if current_user&.admin?
          = link_to "Admin", admin_path, class: "dropdown-item"
          .dropdown-divider
        = link_to "Sign out", destroy_user_session_path, class: "dropdown-item"

%li.nav-item.d-lg-none{ class: current_page?(dashboard_path) ? "active" : nil }
  = link_to dashboard_path, class: "nav-link" do
    Dashboard
  - if current_page?(dashboard_path)
    %span.sr-only (current)

%li.nav-item.d-lg-none{ class: current_page?(settings_path) ? "active" : nil }
  = link_to settings_path, class: "nav-link" do
    Settings
  - if current_page?(settings_path)
    %span.sr-only (current)

- if current_user&.admin?
  %li.nav-item.d-lg-none{ class: current_page?(admin_path) ? "active" : nil }
    = link_to admin_path, class: "nav-link" do
      Admin
    - if current_page?(admin_path)
      %span.sr-only (current)

%li.nav-item
  %hr

%li.nav-item.d-lg-none
  = link_to destroy_user_session_path, class: "nav-link" do
    Sign out
