- if false
  = render 'layouts/menu_logo'
  %ul.left-menu
    %li.left-menu-header Admin
    %li
      = link_to 'Dashboard', admin_path, class: (current_page?(admin_path) ? 'active' : nil)
    %li
      = link_to 'Users', admin_users_path, class: (params[:controller] == 'admin/users' ? 'active' : nil)
    %li
      = link_to 'Viewers', admin_viewers_path, class: (params[:controller] == 'admin/viewers' ? 'active' : nil)
- else
  = render 'setup/menu'
