%table.table.table-striped
  %thead
    %tr
      = th_sort_field @order, 'committees.position', 'Position', extra_class: 'hidden-xs'
      = th_sort_field @order, 'committees.name', 'Name'
      = th_sort_field @order, 'committees.slug', 'Slug', extra_class: 'hidden-xs'
      %th Actions

  - @committees.each do |committee|
    %tr
      %td.hidden-xs= committee.position
      %td= link_to committee.name, editor_committee_path(committee)
      %td.hidden-xs= committee.slug
      %td.nowrap
        = link_to 'Edit', edit_editor_committee_path(committee), class: 'btn btn-default btn-xs'
        = link_to 'Delete', editor_committee_path(committee), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete Committee #{committee.name}?" }

.center-horizontally
  = paginate @committees, theme: 'bootstrap'
