- if committee.new_record?
  - url = editor_committees_path
  - method = :post
- else
  - url = editor_committee_path(committee)
  - method = :patch
= form_with model: committee, url: url, method: method, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: committee, key: :name, slug: "slug"
  = render "forms/horizontal/slug_field", form: form, object: committee, key: :slug, key_name: "URL Slug"
  = render "forms/horizontal/text_area", form: form, object: committee, key: :description
  = render "forms/horizontal/text_field", form: form, object: committee, key: :position
  = render "forms/horizontal/submit", form: form, object: committee, cancel: url
