- @title = "Edit Committee - #{@committee.name_was}"

- content_for :header, @committee.name_was
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "committees", editor_committees_path
    %li= link_to @committee.name_was.downcase, editor_committee_path(@committee)
    %li.breadcrumb-muted edit
- content_for :sidebar, render("setup/sidebar")

.dashboard-container= render "form", committee: @committee
