.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        = @committee.name
      = link_to 'Edit Committee', edit_editor_committee_path(@committee), class: 'btn btn-sm btn-light'
      = link_to 'Add Committee Member', new_editor_committee_committee_member_path(@committee), class: 'btn btn-sm btn-light'

    .section-body
      %table.table.table-striped
        %tr
          %td Name
          %td= @committee.name

        %tr
          %td Description
          %td= @committee.description

        %tr
          %td Slug
          %td= @committee.slug

        %tr
          %td Position
          %td= @committee.position

        %tr
          %td Members
          %td= render 'editor/committee_members/index'
  .col-md-3.order-1
    = render 'setup/menu'
