- if video.new_record?
  - url = editor_category_videos_path(@category)
  - method = :post
- else
  - url = editor_category_video_path(@category, video)
  - method = :patch

= form_with model: [@category, video], url: url, method: method, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: video, key: :name
  = render "forms/horizontal/text_field", form: form, object: video, key: :embed_url, key_name: "Embed URL", help_text: sanitize("Example: https://www.youtube.com/embed/<strong>VIDEOID</strong>?rel=0&modestbranding=1&autohide=1&showinfo=0&wmode=opaque")
  = render "forms/horizontal/check_box", form: form, object: video, key: :archived
  = render "forms/horizontal/submit", form: form, object: video, cancel: url
