%table.table.table-striped.table-borderless.table-hover.table-sticky
  %thead
    %tr
      = th_sort_field @order, 'videos.archived', 'Archived', extra_class: 'text-center'
      = th_sort_field @order, 'videos.name', 'Name'
      %th Actions

  - @videos.each do |video|
    %tr
      %td.text-center
        - if video.archived?
          = icon("fas", "eye-slash", class: "text-muted")
      %td= link_to video.name, editor_category_video_path(@category, video), style: "#{'text-decoration: line-through;' if video.archived?}"
      %td
        = link_to 'Edit', edit_editor_category_video_path(@category, video), class: 'btn btn-light btn-sm'
        = link_to 'Delete', editor_category_video_path(@category, video), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: "Are you sure you want to delete Video #{video.name}?" }

.center-horizontally
  = paginate @videos, theme: 'bootstrap'
