.container
  .row
    .col-sm-9.col-sm-push-3
      .color-container.dark-purple
        %h1.brand
          = link_to 'Folders', editor_categories_path(@category)
          &middot;
          = link_to @category.name, editor_category_path(@category)
          &middot;
          Videos
        %h4.purple
          You may
          %strong archive videos
          you wish to hide from the menu.
        = link_to 'Add New Video', new_editor_category_video_path(@category), class: 'btn btn-xs btn-default'

      = render 'videos'
    .col-sm-3.col-sm-pull-9
      = render 'setup/menu'
