- @title = "Videos"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("setup/sidebar")
- content_for :header do
  .float-right
    = link_to plus_or("New Video"), new_editor_category_video_path(@category), class: "btn btn-primary btn-shadow"
    .per-page= render "layouts/per_page", per_page: 40, object_count: @videos.total_count
  = @title

- @breadcrumbs = []
- @breadcrumbs << [@category.name, editor_category_path(@category)]

.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %col{ width: "1px" }
    %col
    %col{ width: "1px" }
    %thead
      %tr
        = th_sort_field @order, "videos.archived", "Archived", extra_class: "text-center"
        = th_sort_field @order, "videos.name", "Name"
        %th.text-center Actions

    - @videos.each do |video|
      %tr
        %td.text-center
          - if video.archived?
            = icon("fas", "eye-slash", class: "text-muted")
        %td= link_to video.name, editor_category_video_path(@category, video), style: "#{"text-decoration: line-through;" if video.archived?}"
        %td.text-center.nowrap
          = render "layouts/edit_delete_dropdown", edit_url: edit_editor_category_video_path(@category, video), delete_url: editor_category_video_path(@category, video), delete_confirmation: "Delete #{video.name}?"

.center-horizontally
  = paginate @videos, theme: "bootstrap"

.jumbotron.jumbotron-custom-text
  You may
  %strong archive videos
  you wish to hide from the menu.
