- @title = 'New Video'

.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        = link_to 'Folders', editor_categories_path(@category)
        &middot;
        = link_to @category.name, editor_category_path(@category)
        &middot;
        = link_to 'Videos', editor_category_videos_path(@category)
        &middot;
        New Video
    .section-body= render 'form'
  .col-md-3.order-1
    = render 'setup/menu'
