- @title = 'New Video'

.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1
        = link_to 'Folders', editor_categories_path(@category)
        &middot;
        = link_to @category.name, editor_category_path(@category)
        &middot;
        = link_to 'Videos', editor_category_videos_path(@category)
        &middot;
        New Video
    .section-body= render 'form'
  .col-sm-3.col-sm-pull-9
    = render 'setup/menu'
