.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1
        = link_to 'Folders', editor_categories_path(@category)
        &middot;
        = link_to @category.name, editor_category_path(@category)
        &middot;
        = link_to 'Videos', editor_category_videos_path(@category)
        &middot;
        = @video.name
        = link_to 'Edit Video', edit_editor_category_video_path(@category, @video), class: 'btn btn-xs btn-default'

    .section-body
      %table.table.table-striped
        %tr
          %td Name
          %td= @video.name

        %tr
          %td Embed URL
          %td= @video.embed_url

        %tr
          %td Archived
          %td= @video.archived

      .embed-responsive.embed-responsive-16by9{ style: 'margin-bottom: 20px' }
        %iframe.embed-responsive-item{ src: @video.embed_url, webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
  .col-sm-3.col-sm-pull-9
    = render 'setup/menu'
