- @title = @video.name

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("setup/sidebar")
- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_lg", edit_url: edit_editor_category_video_path(@category, @video), delete_url: editor_category_video_path(@category, @video), delete_confirmation: "Delete \"#{@video.name}\"?"
  = @title

- @breadcrumbs = []
- @breadcrumbs << [@category.name, editor_category_path(@category)]
- @breadcrumbs << ["Videos", editor_category_videos_path(@category)]

.dashboard-container
  = render "forms/horizontal/show/text", object: @video, key: :name
  = render "forms/horizontal/show/text", object: @video, key: :embed_url, key_name: "Embed URL"
  = render "forms/horizontal/show/check_box", object: @video, key: :archived

.embed-responsive.embed-responsive-16by9.mb-5
  %iframe.embed-responsive-item{ src: @video.embed_url, webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
