%table.table.table-striped.table-borderless.table-hover.table-sticky
  %thead
    %tr
      = th_sort_field @order, 'categories.position', 'Position', extra_class: 'hidden-xs'
      = th_sort_field @order, 'categories.name', 'Name'
      = th_sort_field @order, 'categories.top_level', 'Top level', extra_class: 'hidden-xs'
      = th_sort_field @order, 'categories.slug', 'Slug', extra_class: 'hidden-xs'
      = th_sort_field @order, 'categories.archived', 'Archived', extra_class: 'hidden-xs'
      %th Actions

  - @categories.each do |category|
    %tr
      %td.hidden-xs= category.position
      %td= link_to category.name, editor_category_path(category), style: "#{'text-decoration: line-through;' if category.archived?}"
      %td.hidden-xs= category.top_level
      %td.hidden-xs= category.slug
      %td.hidden-xs
        - if category.archived?
          %i.fa.fa-eye-slash.text-muted
      %td.nowrap
        = link_to 'Edit', edit_editor_category_path(category), class: 'btn btn-light btn-sm'
        = link_to 'Delete', editor_category_path(category), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: "Are you sure you want to delete Category #{category.name}?" }

.center-horizontally
  = paginate @categories, theme: 'bootstrap'
