- if category.new_record?
  - url = editor_categories_path
  - method = :post
- else
  - url = editor_category_path(category)
  - method = :patch

= form_with model: category, url: url, method: method, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: category, key: :name
  = render "forms/horizontal/text_area", form: form, object: category, key: :description
  = render "forms/horizontal/text_field", form: form, object: category, key: :top_level
  = render "forms/horizontal/text_field", form: form, object: category, key: :slug
  = render "forms/horizontal/text_field", form: form, object: category, key: :position
  = render "forms/horizontal/check_box", form: form, object: category, key: :archived
  = render "forms/horizontal/check_box", form: form, object: category, key: :unblinded_only, help_text: "Check to limit access to unblinded members only."
  = render "forms/horizontal/submit", form: form, object: category, cancel: url
