- @title = "Folders"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("setup/sidebar")
- content_for :header do
  .float-right
    = link_to plus_or("New Folder"), new_editor_category_path, class: "btn btn-primary btn-shadow"
    .per-page= render "layouts/per_page", per_page: 40, object_count: @categories.total_count
  = @title

.jumbotron.jumbotron-custom-text
  You may edit folders, upload documents, and embed videos here.

.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %thead
      %tr
        = th_sort_field @order, "categories.position", "Position", extra_class: "d-none d-lg-table-cell"
        = th_sort_field @order, "categories.name", "Name"
        = th_sort_field @order, "categories.top_level", "Top level", extra_class: "d-none d-lg-table-cell"
        = th_sort_field @order, "categories.slug", "Slug", extra_class: "d-none d-lg-table-cell"
        = th_sort_field @order, "categories.archived", "Archived", extra_class: "d-none d-lg-table-cell"
        %th.text-center Actions

    - @categories.each do |category|
      %tr
        %td.d-none.d-lg-table-cell= category.position
        %td= link_to category.name, editor_category_path(category), style: "#{"text-decoration: line-through;" if category.archived?}"
        %td.d-none.d-lg-table-cell= category.top_level
        %td.d-none.d-lg-table-cell= category.slug
        %td.d-none.d-lg-table-cell
          - if category.archived?
            = icon("fas", "eye-slash", class: "text-muted")
        %td.text-center
          = render "layouts/edit_delete_dropdown", edit_url: edit_editor_category_path(category), delete_url: editor_category_path(category), delete_confirmation: "Delete #{category.name}?"

.center-horizontally
  = paginate @categories, theme: "bootstrap"
