.container
  .row
    .col-md-3
      = render 'setup/menu'
    .col-md-9
      .color-container.purple
        %h1.brand= @category.name
        %h4
          = @category.top_level
          \/
          = @category.slug

      .color-container
        %p.lead
          = link_to 'Edit Category', edit_editor_category_path(@category), class: 'btn btn-xs btn-default'
          = link_to 'View Documents', editor_category_documents_path(@category), class: 'btn btn-xs btn-default'
          = link_to 'View Videos', editor_category_videos_path(@category), class: 'btn btn-xs btn-default'

      %table.table.table-striped
        %tr
          %td Name
          %td= @category.name

        %tr
          %td Description
          %td= @category.description

        %tr
          %td Top level
          %td= @category.top_level

        %tr
          %td Slug
          %td= @category.slug

        %tr
          %td Position
          %td= @category.position

        %tr
          %td Archived
          %td= @category.archived

        %tr
          %td Documents
          %td#documents_count= @category.documents.count

      - fallback_url = new_editor_category_document_path(@category)
      = link_to 'Upload New Document', fallback_url, class: 'btn btn-default'
      %p.lead.filedrag.text-muted.purple-fill{ data: { object: 'dropfile', upload_url: upload_editor_category_documents_path(@category, format: 'js'), fallback_url: fallback_url } }
        Drag documents here to attach to category.
