- @title = "Consented - Reports"

- content_for :header, @title
= render "internal/tabs"
- content_for :sidebar, render("internal/sidebar")

- report = Report.find_by(name: "Consented")

- if report
  = render "reports/chart", report: report if report.chart?
  = render "reports/table", report: report if report.table?
- else
  - if @consented
    %div{ style: "margin-bottom: 20px", data: { object: "draw-chart", series: @consented[:series].to_json, categories: @consented[:categories].to_json, title: @consented[:title], yaxis: @consented[:yaxis], xaxis: @consented[:xaxis] } }
  - if @consented && @consented[:table]
    .dashboard-container.dashboard-table
      = render "reports_static/draw_table", table: @consented[:table]

.row
  .col-md-4
    = link_to reports_static_screened_path, class: "title-link" do
      .jumbotron.text-center
        %h4.text-muted Screened
        .report-number
          = icon("fas", "chevron-left")
  .col-md-4
    .jumbotron.text-center
      %h4.text-muted Consented
      .report-number
        - if report
          = number_with_delimiter report.total_count
        - else
          = number_with_delimiter @consented[:total] rescue 0
  .col-md-4
    = link_to reports_static_eligible_path, class: "title-link" do
      .jumbotron.text-center
        %h4.text-muted Eligible
        .report-number
          = icon("fas", "chevron-right")

= render "internal/data_last_updated"
