- @title = "Data Inconsistencies - Reports"

- content_for :header, "Data Inconsistencies"
= render "internal/tabs"
- content_for :sidebar, render("internal/sidebar")

.jumbotron.jumbotron-custom-text
  Use the following table to jump to data inconsistencies reported by
  Slice.

- report = Report.find_by(name: "Data Checks")

- if report
  = render "reports/table", report: report if report.table?
- else
  - if @data_inconsistencies
    - if @data_inconsistencies[:checks].reject { |hash| hash[:total][:count].zero? }.present?
      .dashboard-container.dashboard-table
        %table.table.table-striped.table-borderless.table-hover.table-sticky
          %thead
            %tr
              %th Check
              - @data_inconsistencies[:totals].each do |total|
                %th.nowrap.text-center= total[:short_name]
              %th.text-center Total
          %tfoot
            %tr
              %th Total
              - total_count = 0
              - @data_inconsistencies[:totals].each do |total|
                - total_count += total[:count]
                %th.nowrap.text-center= link_to total[:count], leaving_path(slice: total[:link])
              %th.text-center= link_to total_count, leaving_path(slice: "#{ENV["slice_url"]}/projects/pats/sheets?search=checks:present")
          %tbody
            - @data_inconsistencies[:checks].reject { |hash| hash[:total][:count].zero? }.each do |row|
              %tr
                %td= row[:check]
                - row[:cells].each do |cell|
                  %td.text-center
                    - if cell[:count].to_i.zero?
                      \-
                    - else
                      = link_to cell[:count], leaving_path(slice: cell[:link])
                %td.text-center
                  %strong= link_to row[:total][:count], leaving_path(slice: row[:total][:link])

    - else
      .jumbotron.jumbotron-custom-text
        No data inconsistencies!
