- @title = "Randomized - Reports"

- content_for :header, "Randomized"
= render "internal/tabs"
- content_for :sidebar, render("internal/sidebar")


- report = Report.find_by(name: "Randomizations")

- if report
  = render "reports/chart", report: report if report.chart?
  = render "reports/table", report: report if report.table?
- else
  - if @randomized
    %div{ style: "margin-bottom: 20px", data: { object: "draw-chart", series: @randomized[:series].to_json, categories: @randomized[:categories].to_json, title: @randomized[:title], yaxis: @randomized[:yaxis], xaxis: @randomized[:xaxis] } }
  - if @randomized && @randomized[:table]
    .dashboard-container.dashboard-table
      = render "reports_static/draw_table", table: @randomized[:table]

.row
  .col-md-4
    = link_to reports_static_eligible_path, class: "title-link" do
      .jumbotron.text-center
        %h4.text-muted Eligible
        .report-number
          = icon("fas", "chevron-left")
  .col-md-4
    .jumbotron.text-center
      %h4.text-muted Randomized
      .report-number
        - if report
          = number_with_delimiter report.total_count
        - else
          = number_with_delimiter @randomized[:total] rescue 0
  .col-md-4
    = link_to reports_static_data_quality_path, class: "title-link" do
      .jumbotron.text-center
        %h4.text-muted Data Quality
        .report-number
          = icon("fas", "chevron-right")

= render "internal/data_last_updated"
