- category_scope = Category.current.where(archived: false)
- category_scope = category_scope.where(unblinded_only: false) unless current_user && current_user.can_view_unblinded_folder?

.col-12.col-md-3.col-xl-2.sidebar-wrapper
  .sidebar
    #sidebar-nav-wrapper.sidebar-nav-wrapper.collapse
      .pt-3.py-md-3.mx-3.my-0.ml-md-3.mb-md-3.mr-md-0
        %ul.sidebar-menu.sidebar-menu-shadow
          %li.sidebar-menu-header= render "sidebar/toggle", title: "Docs"
          - category_scope.order(:top_level, :position).group_by(&:top_level).each do |top_level, categories|
            %li.sidebar-menu-header= top_level
            - categories.each do |category|
              - if category.documents.where(archived: false).present? || category.videos.where(archived: false).present?
                %li
                  = link_to category.name, internal_category_path(category.top_level, category.slug), class: (current_page?(internal_category_path(category.top_level, category.slug)) ? "active" : nil)
          %li.sidebar-menu-header Reports
          %li
            = link_to "Eligibility - Screened", reports_eligibility_status_screened_path, class: (current_page?(reports_eligibility_status_path) || current_page?(reports_eligibility_status_screened_path) ? "active" : nil)
            = link_to "Eligibility - Consented", reports_eligibility_status_consented_path, class: (current_page?(reports_eligibility_status_consented_path) ? "active" : nil)
            = link_to "Demographics", reports_demographics_status_path(subjects: "randomized"), class: (params[:controller] == "reports" && params[:action] == "demographics" ? "active" : nil)
            = link_to "Screened", reports_screened_path, class: (current_page?(reports_screened_path) ? "active" : nil)
            = link_to "Consented", reports_consented_path, class: (current_page?(reports_consented_path) ? "active" : nil)
            = link_to "Eligible", reports_eligible_path, class: (current_page?(reports_eligible_path) ? "active" : nil)
            = link_to "Randomized", reports_randomized_path, class: (current_page?(reports_randomized_path) ? "active" : nil)
            = link_to "Data Quality", reports_data_quality_path, class: (current_page?(reports_data_quality_path) ? "active" : nil)
            = link_to "Report Card", reports_grades_path, class: (current_page?(reports_grades_path) ? "active" : nil)
            = link_to "Data Inconsistencies", reports_data_inconsistencies_path, class: (current_page?(reports_data_inconsistencies_path) ? "active" : nil)
