- @title = "Projects"

- content_for :header do
  .float-right
    = link_to "New project", new_project_path, class: "btn btn-dark btn-shadow"
  = @title
= render "admin/tabs"
- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 20, object_count: @projects.total_count
  %ol
    %li.breadcrumb-muted projects
- content_for :sidebar, render("setup/sidebar")

- if @projects.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %col
      %col{ width: "1px" }
      %thead
        %tr
          %th Name
          %th.text-center Actions

      %tbody
        - @projects.each do |project|
          %tr
            %td= link_to project.name, project
            %td.text-center= render "layouts/edit_delete_dropdown", edit_url: edit_project_path(project), delete_url: project, delete_confirmation: "Delete #{project.name}?"
- else
  .jumbotron.jumbotron-custom-text
    = icon("fas", "clone", class: "mr-1")
    No projects found.
    = link_to "Start over", projects_path if params[:search].present?
