- @title = "Edit Document: #{@document.name}"

.container
  .row
    .col-sm-9.col-sm-push-3
      .color-container.dark-purple
        %h1.brand
          = link_to 'Folders', editor_categories_path
          &middot;
          = link_to @category.name, editor_category_path(@category)
          &middot;
          = link_to 'Documents', editor_category_documents_path(@category)
          &middot;
          = link_to @document.name, editor_category_document_path(@category, @document)
          &middot;
          Edit

      .color-container
        = render 'form'

    .col-sm-3.col-sm-pull-9
      = render 'setup/menu'
