.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        = link_to 'Folders', editor_categories_path(@category)
        &middot;
        = link_to @category.name, editor_category_path(@category)
        &middot;
        Documents
        = link_to 'Add New Document', new_editor_category_document_path(@category), class: 'btn btn-sm btn-light'
      .section-description
        You may
        %strong archive documents
        you wish to hide from the menu.


    .section-body= render 'documents'
  .col-md-3.order-1
    = render 'setup/menu'
