- @title = 'New Document'

.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1
        = link_to 'Folders', editor_categories_path(@category)
        &middot;
        = link_to @category.name, editor_category_documents_path(@category)
        &middot;
        = link_to 'Documents', editor_category_documents_path(@category)
        &middot;
        New Document
      .section-description
        Documents can be one of:
        %code doc
        %code docx
        %code pdf
        %code rtf
        %code xls
        %code xlsx
        %code csv

    .section-body
      = render 'form'

  .col-sm-3.col-sm-pull-9
    = render 'setup/menu'
