- @title = "New Document - #{@category.name}"

- content_for :header, "New Document"
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "folders", editor_categories_path
    %li= link_to @category.name.downcase, editor_category_path(@category)
    %li= link_to "documents", editor_category_documents_path(@category)
    %li.breadcrumb-muted new
- content_for :sidebar, render("setup/sidebar")

.dashboard-container= render "form", document: @document
