- @title = @document.name

- content_for :sidebar, render("setup/sidebar")
- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_lg", edit_url: edit_editor_category_document_path(@category, @document), delete_url: editor_category_document_path(@category, @document), delete_confirmation: "Delete \"#{@document.name}\"?"
  = @title

- @breadcrumbs = []
- @breadcrumbs << [@category.name, editor_category_path(@category)]
- @breadcrumbs << ["Documents", editor_category_documents_path(@category)]

.dashboard-container
  = render "forms/horizontal/show/text", object: @document, key: :name
  = render "forms/horizontal/show/generic", title: "Size", content: sanitize("<code>#{number_to_human_size(@document.document.size)}</code>")
  = render "forms/horizontal/show/check_box", object: @document, key: :archived
