.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        = link_to 'Folders', editor_categories_path(@category)
        &middot;
        = link_to @category.name, editor_category_documents_path(@category)
        &middot;
        = link_to 'Documents', editor_category_documents_path(@category)
        &middot;
        = @document.name
        = link_to 'Edit Document', edit_editor_category_document_path(@category, @document), class: 'btn btn-xs btn-default'
      .section-description
        = @document.extension
        %code= number_to_human_size @document.document.size

    .section-body
      %table.table.table-striped
        %tr
          %td Name
          %td= @document.name

        %tr
          %td Archived
          %td= @document.archived
  .col-md-3.order-1
    = render 'setup/menu'
