%div{ style: 'margin-top:30px;margin-bottom: 30px' }
  = link_to dashboard_path do
    = image_tag 'pats-logo-transparent.png', alt: '', class: 'img-responsive'
%ul.left-menu
  %li.left-menu-header Dashboard
  %li= link_to 'Home', dashboard_path
  %li.left-menu-header Editor
  %li
    = link_to 'Dashboard', editor_path, class: (current_page?(editor_path) ? 'active' : nil)
  %li
    = link_to 'Categories', categories_path, class: (%w(editor/categories editor/documents).include?(params[:controller]) ? 'active' : nil)
  %li
    = link_to 'Committees', editor_committees_path, class: (params[:controller] == 'editor/committees' ? 'active' : nil)
  %li
    = link_to 'Members', members_path, class: (params[:controller] == 'editor/members' ? 'active' : nil)
