- @title = 'Committees'
.container
  .row
    .col-md-3
      = render 'internal/menu'
    .col-md-9
      .color-container.dark-brown
        %h1.brand= @title
        %h4.brown Pediatric Adenotonsillectomy Trial for Snoring

      - Committee.order(:position).current.each do |committee|
        .color-container.dark-purple{ style: 'border-color: transparent' }
          %h2
            = committee.name
            = link_to committee_path(committee.slug), class: 'btn btn-xs btn-default' do
              Learn More
              %span.glyphicon.glyphicon-new-window
          %table.table.table-striped
            %thead
              %tr
                %th
                = th_sort_field @order, 'members.last_name', 'Name'
                = th_sort_field @order, 'members.email', 'Email'
                = th_sort_field @order, 'members.phone', 'Phone'
                = th_sort_field @order, 'members.role', 'Role'
            - committee.committee_members.includes(:member).order(@order).each do |committee_member|
              %tr
                %td
                  - if committee_member.chair?
                    %span.label.label-primary Chair
                %td= committee_member.member.name_reverse
                %td= committee_member.member.email
                %td= committee_member.member.phone
                %td= committee_member.member.role
