- @title = 'Committees'
.container
  .row
    .col-md-3
      = render 'internal/menu'
    .col-md-9
      .color-container.dark-brown
        %h1.brand= @title
        %h4.brown Pediatric Adenotonsillectomy Trial for Snoring

      - Committee.order(:position).current.each do |committee|
        .color-container.dark-purple{ style: 'border-color: transparent' }
          %h2
            = committee.name
            = link_to committee_path(committee.slug), class: 'btn btn-xs btn-default' do
              Learn More
              %span.glyphicon.glyphicon-new-window
          %table.table.table-striped
            %thead
              %tr
                %th Name
                %th Email
                %th Phone
                %th Role
            - committee.members.each do |member|
              %tr
                %td= member.name
                %td= member.email
                %td= member.phone
                %td= member.role
