- @title = "Committees"

- content_for :sidebar, render("internal/sidebar")

- content_for :header, @title

- Committee.order(:position).current.each do |committee|
  .dashboard-container.dashboard-table
    %h2.dashboard-lead
      = committee.name
      = link_to committee_path(committee.slug), class: "btn btn-sm btn-outline-primary" do
        Learn More
        = icon("fas", "caret-right")
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %thead
        %tr
          %th
          = th_sort_field @order, "members.last_name", "Name"
          = th_sort_field @order, "members.email", "Email"
          = th_sort_field @order, "members.phone", "Phone"
          = th_sort_field @order, "members.role", "Role"
          = th_sort_field @order, "members.staffid", "Staff ID", extra_class: "nowrap"
      - committee.committee_members.includes(:member).order(@order).each do |committee_member|
        %tr
          %td
            - if committee_member.chair?
              %span.badge.badge-primary Chair
          %td= committee_member.member.name_reverse
          %td= committee_member.member.email
          %td.nowrap= committee_member.member.phone
          %td= committee_member.member.role
          %td= committee_member.member.staffid
