- @title = @committee.name

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("internal/sidebar")
- content_for :header, @title

- if @committee.description.present?
  .jumbotron.jumbotron-custom-text
    = @committee.description

.section-body
  %h2 Members
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
        %th Role
        %th Staff ID
    - @committee.members.each do |member|
      %tr
        %td= member.name
        %td= member.email
        %td= member.phone
        %td= member.role
        %td= member.staffid
