- @title = @committee.name
.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1= @title
      .section-description
        = @committee.description

    .section-body
      %h2 Members
      %table.table.table-striped.purple
        %thead
          %tr
            %th Name
            %th Email
            %th Phone
            %th Role
            %th Staff ID
        - @committee.members.each do |member|
          %tr
            %td= member.name
            %td= member.email
            %td= member.phone
            %td= member.role
            %td= member.staffid
  .col-sm-3.col-sm-pull-9
    = render 'internal/menu'
