- @title = @committee.name

- content_for :header, @title
= render "internal/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "committees", committees_path
    %li.breadcrumb-muted= @committee.name.downcase
- content_for :sidebar, render("directory/sidebar")

- if @committee.description.present?
  .jumbotron.jumbotron-custom-text
    = @committee.description

.dashboard-container.dashboard-table
  %h2.dashboard-lead Members
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
        %th Role
        %th Staff ID
    - @committee.members.each do |member|
      %tr
        %td= member.name
        %td= member.email
        %td= member.phone
        %td= member.role
        %td= member.staffid
