- @title = "Edit Site: #{@site.name_was}"

.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-purple
        %h1.brand
          = link_to 'Sites', editor_sites_path
          &middot;
          = link_to @site.name_was, editor_site_path(@site)
          &middot;
          Edit

      .color-container
        = render 'form'

