- @title = "Edit Site: #{@site.name_was}"

.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        = link_to 'Sites', editor_sites_path
        &middot;
        = link_to @site.name_was, editor_site_path(@site)
        &middot;
        Edit
    .section-body
      = render 'form'
  .col-md-3.order-1
    = render 'setup/menu'
