- @title = "Sites"

- content_for :header do
  .float-right
    = link_to plus_or("New Site"), new_editor_site_path, class: "btn btn-primary btn-shadow"
  = @title
= render "admin/tabs"
- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 40, object_count: @sites.total_count
  %ol
    %li.breadcrumb-muted sites
- content_for :sidebar, render("setup/sidebar")

.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %col{ width: "1px" }
    %col
    %col
    %col{ width: "1px" }
    %thead
      %tr
        %th= order_to "#", primary: "number"
        %th= order_to "Name", primary: "name"
        %th= order_to "Address", primary: "address"
        %th.text-center Actions

    - @sites.each do |site|
      %tr
        %td= site.number
        %td= link_to site.name, editor_site_path(site)
        %td= site.address
        %td.text-center.nowrap
          = render "layouts/edit_delete_dropdown", edit_url: edit_editor_site_path(site), delete_url: editor_site_path(site), delete_confirmation: "Delete #{site.name}?"

.center-horizontally
  = paginate @sites, theme: "bootstrap"
