.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        = link_to 'Sites', editor_sites_path
        &middot;
        = @site.name
        = link_to 'Edit Site', edit_editor_site_path(@site), class: 'btn btn-sm btn-light'

    .section-body
      %table.table.table-striped
        %tr
          %td Name
          %td= @site.name

        %tr
          %td Slug
          %td= @site.slug

        %tr
          %td Address
          %td= @site.address

        %tr
          %td Contact
          %td= @site.contact

        %tr
          %td Recruiting Center
          %td= @site.recruiting_center?
        %tr
          %td Coordinating Center
          %td= @site.coordinating_center?
        %tr
          %td Members
          %td
            %ul.list-unstyled
              - @site.members.each do |member|
                %li
                  = link_to member.name_reverse, editor_member_path(member)
  .col-md-3.order-1
    = render 'setup/menu'
