- @title = @site.name

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("setup/sidebar")
- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_lg", edit_url: edit_editor_site_path(@site), delete_url: editor_site_path(@site), delete_confirmation: "Delete \"#{@site.name}\"?"
  = @title

.dashboard-container
  = render "forms/horizontal/show/text", object: @site, key: :name
  = render "forms/horizontal/show/text", object: @site, key: :slug, key_name: "URL Slug"
  = render "forms/horizontal/show/text", object: @site, key: :address
  = render "forms/horizontal/show/text", object: @site, key: :contact
  = render "forms/horizontal/show/check_box", object: @site, key: :recruiting_center
  = render "forms/horizontal/show/check_box", object: @site, key: :coordinating_center
  = render "forms/horizontal/show/generic", title: "Members", content: render("editor/sites/members", site: @site)
