%table.table.table-striped.table-borderless.table-sm
  %col
  %col{ width: "1px" }
  - @committee.committee_members.includes(:member).order("chair desc", "members.last_name", "members.first_name").each do |committee_member|
    %tr
      %td
        = link_to committee_member.member.name_reverse, editor_member_path(committee_member.member)
        - if committee_member.chair?
          %span.badge.badge-primary Committee Chair
      %td
        = link_to "Remove", editor_committee_committee_member_path(@committee, committee_member), method: :delete, data: { confirm: "Remove #{committee_member.member.name} from #{@committee.name}?" }, class: "btn btn-sm btn-danger"

= link_to "Add Committee Member", new_editor_committee_committee_member_path(@committee), class: "btn btn-sm btn-primary"
