.container
  .row
    .col-md-3
      = render 'editor/menu'
    .col-md-9
      .color-container.purple
        %h1.brand= @category.name
        %h4.brand
          = @category.top_level
          \/
          = @category.slug

      %a.anchor-top{ name: 'home'}
      .color-container.dark-brown
        %p.lead
          = link_to 'Edit Category', edit_category_path(@category)

      %table.table.table-striped
        %tr
          %td Name
          %td= @category.name

        %tr
          %td Description
          %td= @category.description

        %tr
          %td Top level
          %td= @category.top_level

        %tr
          %td Slug
          %td= @category.slug

        %tr
          %td Position
          %td= @category.position

        %tr
          %td Archived
          %td= @category.archived
