= form_with model: user, url: admin_user_path(user), method: :patch, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: user, key: :full_name
  = render "forms/horizontal/text_field", form: form, object: user, key: :username
  = render "forms/horizontal/email_field", form: form, object: user, key: :email
  = render "forms/horizontal/check_box", form: form, object: user, key: :approved, key_name: "Website access", help_text: "Check to approve access to #{ENV["website_name"]}."
  =# render "forms/horizontal/check_box", form: form, object: user, key: :emails_enabled
  = render "forms/horizontal/check_box", form: form, object: user, key: :admin, help_text: "Admins can approve users and set user roles."
  = render "forms/horizontal/check_box", form: form, object: user, key: :editor, help_text: "Editors can setup the website."
  = render "forms/horizontal/check_box", form: form, object: user, key: :unblinded
  = render "forms/horizontal/text_field", form: form, object: user, key: :role
  =# render "forms/horizontal/check_box", form: form, object: user, key: :key_contact, help_text: "Key contacts are displayed on the directory overview."
  = render "forms/horizontal/text_field", form: form, object: user, key: :phone, help_text: "Format: 555-555-5555"
  = render "forms/horizontal/text_field", form: form, object: user, key: :keywords, help_text: "Add keywords to improve search results, for example add nicknames."
  = render "forms/horizontal/submit", form: form, object: user, cancel: admin_user_path(user)
