%table.table.table-striped
  %thead
    %tr
      = th_sort_field @order, 'users.last_name', 'Name'
      = th_sort_field @order, 'users.approved', 'Approved'
      = th_sort_field @order, 'users.admin', 'Admin'
      = th_sort_field @order, 'users.editor', 'Editor'
      = th_sort_field @order, 'users.current_sign_in_at', 'Recent Activity'
      = th_sort_field @order, 'users.sign_in_count', 'Sign in Count'
      %th Actions

  - @users.each do |user|
    %tr
      %td
        =# image_tag user.avatar_url(18), style: 'vertical-align:text-bottom'
        = link_to user.name, admin_user_path(user)
      %td.center= simple_check user.approved?
      %td.center= simple_check user.admin?
      %td.center= simple_check user.editor?
      %td
        - if user.current_sign_in_at
          = time_ago_in_words user.current_sign_in_at
          ago
      %td= number_with_delimiter user.sign_in_count
      %td
        = link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-default btn-xs'
        - unless current_user == user
          = link_to 'Delete', admin_user_path(user), method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete User #{user.name}?" }

.center
  = paginate @users, theme: 'bootstrap'
