%table.table.table-striped
  %col
  %col
  %col.hidden-xs
  %col.hidden-xs
  %col.hidden-xs
  %col.hidden-xs.hidden-sm
  %col.hidden-xs.hidden-sm
  %col{ width: '1px' }
  %thead
    %tr
      = th_sort_field @order, 'users.last_name', 'Name'
      = th_sort_field @order, 'users.approved', 'Approved', extra_class: 'center'
      = th_sort_field @order, 'users.admin', 'Admin', extra_class: 'center hidden-xs'
      = th_sort_field @order, 'users.editor', 'Editor', extra_class: 'center hidden-xs'
      = th_sort_field @order, 'users.unblinded', 'Unblinded', extra_class: 'center hidden-xs'
      = th_sort_field @order, 'users.current_sign_in_at', 'Recent Activity', extra_class: 'center hidden-xs hidden-sm'
      = th_sort_field @order, 'users.sign_in_count', 'Sign in Count', extra_class: 'center hidden-xs hidden-sm'
      %th.center Actions

  - @users.each do |user|
    %tr
      %td
        =# image_tag user.avatar_url(18), style: 'vertical-align:text-bottom'
        = link_to user.name, admin_user_path(user)
      %td.center= simple_check user.approved?
      %td.hidden-xs.center= simple_check user.admin?
      %td.hidden-xs.center= simple_check user.editor?
      %td.hidden-xs.center= simple_check user.unblinded?
      %td.hidden-xs.hidden-sm.center
        - if user.current_sign_in_at
          %small.nowrap
            = time_ago_in_words user.current_sign_in_at
            ago
      %td.hidden-xs.hidden-sm.text-right
        %small= number_with_delimiter user.sign_in_count
      %td.nowrap
        .dropdown
          = link_to '#', class: 'btn btn-default btn-xs dropdown-toggle', data: { toggle: 'dropdown' } do
            Actions
            %strong.caret

          %ul.dropdown-menu.dropdown-menu-right
            %li
              = link_to edit_admin_user_path(user) do
                %span.glyphicon.glyphicon-edit
                Edit
            - unless current_user == user
              %li.divider{ role: 'separator' }
              %li
                = link_to admin_user_path(user), method: :delete, data: { confirm: "Delete #{user.name}?" } do
                  .text-danger
                    %span.glyphicon.glyphicon-trash
                    Delete

.center
  = paginate @users, theme: 'bootstrap'
