- @title = "Edit User: #{@user.name_was}"

.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        = link_to 'Users', admin_users_path
        &middot;
        = link_to @user.name_was, admin_user_path(@user)
        &middot;
        Edit

    .section-body
      = render 'form'

  .col-md-3.order-1
    = render 'setup/menu'
