- @title = "Edit User: #{@user.name_was}"

.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-purple
        %h1.brand
          = link_to 'Users', admin_users_path
          &middot;
          = link_to @user.name_was, admin_user_path(@user)
          &middot;
          Edit

      .color-container
        = render 'form'

