- @title = 'Users'
.row
  .col-md-9.order-2
    .section-heading-internal
      %h1.page-heading
        .pull-right
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @users.total_count
        = @title
      .section-description
        This page allows you to
        %strong approve users
        and
        = succeed '.' do
          %strong set user roles
    .section-body
      = render 'admin/users/users'
  .col-md-3.order-1
    = render 'setup/menu'
