.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1
        = link_to 'Users', admin_users_path
        &middot;
        = @user.name
        = link_to 'Edit User', edit_admin_user_path(@user), class: 'btn btn-xs btn-default'

    .section-body
      %table.table.table-striped
        %tbody
          %tr
            %td Name
            %td= @user.name
          %tr
            %td Email
            %td= @user.email
          %tr
            %td Website Access
            %td= @user.approved? ? 'Approved' : 'Pending'
          %tr
            %td Admin
            %td= simple_check @user.admin?
          %tr
            %td Editor
            %td= simple_check @user.editor?
          %tr
            %td Unblinded
            %td= simple_check @user.unblinded?
  .col-sm-3.col-sm-pull-9
    = render 'setup/menu'
