.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-purple
        %h1.brand= @user.name
        %h4.purple= @user.email

      %a.anchor-top{ name: 'home'}
      .color-container.dark-brown
        %p
          You may
          = link_to 'edit this user', edit_admin_user_path(@user)
          to approve their website access and to change their roles.


      %table.table.table-striped
        %tbody
          %tr
            %td Name
            %td= @user.name
          %tr
            %td Email
            %td= @user.email
          %tr
            %td Website Access
            %td= @user.approved? ? 'Approved' : 'Pending'
          %tr
            %td Admin
            %td= simple_check @user.admin?
          %tr
            %td Editor
            %td= simple_check @user.editor?
          %tr
            %td DSMB Member
            %td= simple_check @user.dsmb_member?
