- @title = "Users"

- content_for :sidebar, render("setup/sidebar")
- content_for :header do
  .float-right
    %span.dropdown
      = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
        .d-inline-block.d-sm-none
          = icon("fas", "cog")
        .d-none.d-sm-inline-block Actions
        %strong.caret
      .dropdown-menu.dropdown-menu-right
        = link_to edit_admin_user_path(@user), class: "dropdown-item" do
          = icon("fas", "pencil-alt")
          Edit
        - unless current_user == @user
          .dropdown-divider
          = link_to admin_user_path(@user), method: :delete, data: { confirm: "Delete #{@user.name}?" }, class: "dropdown-item text-danger" do
            = icon("fas", "trash-alt")
            Delete
  = @user.name

.dashboard-container
  = render "forms/horizontal/show/text", object: @user, key: :name
  = render "forms/horizontal/show/text", object: @user, key: :email
  = render "forms/horizontal/show/generic", title: "Joined", content: @user.created_at&.strftime("%a, %B %-d, %Y at %-l:%M:%S %p")
  = render "forms/horizontal/show/generic", title: "Website Access", content: @user.approved? ? "Approved" : "Pending"
  = render "forms/horizontal/show/check_box", object: @user, key: :admin
  = render "forms/horizontal/show/check_box", object: @user, key: :editor
  = render "forms/horizontal/show/check_box", object: @user, key: :unblinded
