.dark-purple
  .container
    .color-container
      %h1.brand Welcome to the PATS Trial Website!
      %h4.brand.purple Pediatric Adenotonsillectomy Trial for Snoring


.purple-fill
  .container
    .color-container
      %h2.brand About the Trial
      %p.lead
        The purpose of this study is to evaluate the effects of early
        adenotonsillectomy (eAT) on the behavior, sleep-disordered breathing
        symptoms and quality of life for children who snore, but do not have
        obstructive sleep apnea, as well as identify factors that moderate
        responses to the surgery. Half of participants will receive eAT, while
        the other half will be observed with watchful waiting and supportive
        care.
      %p.lead
        Read more on
        = succeed '.' do
          = link_to 'ClinicalTrials.gov', 'https://clinicaltrials.gov/', target: '_blank'

.purple-light-on-white
  .container
    .color-container
      %h2.brand
        Where do I go from here?
      .row
        .col-sm-4
          .center
            %p.lead
              = link_to 'Theme', theme_path
        .col-sm-4
          .center
            %p.lead
              = link_to 'Window', window_path
        .col-sm-4
          .center
            %p.lead
              = link_to 'Credits', theme_path
