.dark-purple
  .container
    .color-container
      %h1.brand Window
      %h4.brand.purple-on-white Example of full screen images

.container
  .color-container
    .row
      .col-sm-3.hidden-xs{ style: 'position:relative;min-height:568px' }
        %div{ style: 'position:absolute;bottom:0px;' }
          = image_tag 'pats-boy.png', style: 'max-width:100%', class: 'wiggle'
      .col-sm-9
        .windowed
          .windowed-inner.swings-texture{ style: 'min-height: 568px' }
            %h1.brand{ style: 'border-bottom: 2px solid white;margin-bottom:60px' }
              Swingsets
            %ul{ style: 'font-weight:bold;font-size: 48px' }
              %li Feel the breeze!
              %li Great exercise!
              %li Fun place to think!

.dark-purple
  .container
    .color-container
      %h1.brand Window
      %h4.brand.purple-on-white Example of full screen images

.bridge-texture{ style: 'min-height: 568px' }
  .container
    .color-container
      %h1.brand
        Contact Us
      %h2.center
        = link_to 'Get Started Now', '#', class: 'btn btn-primary btn-lg'

      %h2.faded-header
        via email
      %p
        = link_to "mailto:#{ENV['support_email']}" do
          = ENV['support_email']

      %h2.faded-header{ style: 'margin-top:40px' }
        our address
      %p
        %strong Sleep and Circadian Disorders
        %br
        221 Longwood Avenue, BLI 225
        %br
        Boston, MA 02115
