%table.table.table-hover
  %col.colgroup-active
  %thead
    - table[:header].each do |row|
      %tr
        - row.each_with_index do |element, column_index|
          %th.col-hover{ class: "col-hover-#{column_index} #{'text-center' if column_index != 0}", data: { target: ".col-hover-#{column_index}" } }= element
  %tfoot
    - table[:footer].each do |row|
      %tr
        - row.each_with_index do |element, column_index|
          %th.col-hover{ class: "col-hover-#{column_index} #{'text-center' if column_index != 0}", data: { target: ".col-hover-#{column_index}" } }= element
  %tbody
    - table[:rows].each do |row|
      %tr
        - row.each_with_index do |element, column_index|
          %td.col-hover{ class: "col-hover-#{column_index} #{'text-center' if column_index != 0}", data: { target: ".col-hover-#{column_index}" } }= element
