- @table_scroll = true # Note: Does not work if elements have "position: sticky;"
- counts = []
- if report.compute_totals?
  - report.report_rows.each do |report_row|
    - result = report_row.result || {}
    - counts[0] ||= 0
    - counts[0] += result["count"].to_i
    - (result["sites"] || []).each_with_index do |hash, index|
      - counts[index + 1] ||= 0
      - counts[index + 1] += hash["count"].to_i

.dashboard-container.dashboard-table{ style: "overflow-x: scroll;" }
  %table.table.table-striped.table-borderless.table-hover
    %thead
      %tr
        %th= report.header_label
        - (report.header || []).each do |hash|
          %th.text-center= hash["label"]
    - if report.compute_totals?
      %thead
        %tr
          %th Total
          - counts.each do |count|
            %th.text-center= table_number count
    %tbody
      - report.report_rows.each do |report_row|
        - result = report_row.result || {}
        %tr{ class: report_row.muted? ? "text-muted" : nil }
          %td= report_row.label
          %td.text-center
            - if result["link"].present? && result["count"].to_i.positive?
              = link_to number_with_delimiter(result["count"]), leaving_path(slice: result["link"]), class: "text-dark"
            - else
              = table_number result["count"]
          - (result["sites"] || []).each_with_index do |hash, index|
            %td.text-center
              - if hash["link"].present? && hash["count"].to_i.positive?
                = link_to number_with_delimiter(hash["count"]), leaving_path(slice: hash["link"]), class: "text-dark"
              - else
                = table_number hash["count"]
