- @title = 'Data Inconsistencies - Reports'
.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1 Data Inconsistencies

      .section-description
        Use the following table to jump to data inconsistencies reported by
        Slice.
    - if @data_inconsistencies
      - if @data_inconsistencies[:checks].reject { |hash| hash[:total][:count].zero? }.present?
        %table.table.table-striped.table-borderless.table-hover
          %thead
            %tr
              %th Check
              - @data_inconsistencies[:totals].each do |total|
                %th.nowrap.center= total[:short_name]
              %th.center Total
          %tfoot
            %tr
              %th Total
              - total_count = 0
              - @data_inconsistencies[:totals].each do |total|
                - total_count += total[:count]
                %th.nowrap.center= link_to total[:count], leaving_path(slice: total[:link])
              %th.center= link_to total_count, leaving_path(slice: 'https://tryslice.io/projects/pats/sheets?search=checks:any')
          %tbody
            - @data_inconsistencies[:checks].reject { |hash| hash[:total][:count].zero? }.each do |row|
              %tr
                %td= row[:check]
                - row[:cells].each do |cell|
                  %td.center
                    - if cell[:count].to_i.zero?
                      \-
                    - else
                      = link_to cell[:count], leaving_path(slice: cell[:link])
                %td.center
                  %strong= link_to row[:total][:count], leaving_path(slice: row[:total][:link])

      - else
        .jumbotron
          %p.center No data inconsistencies!


  .col-sm-3.col-sm-pull-9
    = render 'internal/menu'
