- @title = "Edit Report - #{@report.name_was}"

- content_for :header, @report.name_was
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "reports", reports_path
    %li= link_to @report.name_was.downcase, @report
    %li.breadcrumb-muted edit
- content_for :sidebar, render("setup/sidebar")

.dashboard-container
  = render "reports/form", report: @report
