- @title = 'Eligible - Reports'
.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1 Eligible
      .section-description
        - if @recruitment
          Data last updated
          = Time.parse(@recruitment[:exported_at]).strftime('%a, %b %d at %I:%M %p.')

    .section-body
      - if @eligible
        %div{ style: 'margin-bottom: 20px', data: { object: 'draw-chart', series: @eligible[:series].to_json, categories: @eligible[:categories].to_json, title: @eligible[:title], yaxis: @eligible[:yaxis], xaxis: @eligible[:xaxis] } }
      - if @eligible && @eligible[:table]
        = render 'reports/draw_table', table: @eligible[:table]

      .row
        .col-md-4
          = link_to reports_consented_path, class: 'title-link' do
            .jumbotron.center
              %h4.text-muted Consented
              .report-number
                %span.glyphicon.glyphicon-arrow-left
        .col-md-4
          .jumbotron.center
            %h4.text-muted Eligible
            .report-number= number_with_delimiter @eligible[:total] rescue 0
        .col-md-4
          = link_to reports_randomized_path, class: 'title-link' do
            .jumbotron.center
              %h4.text-muted Randomized
              .report-number
                %span.glyphicon.glyphicon-arrow-right
  .col-sm-3.col-sm-pull-9
    = render 'internal/menu'
