- @title = 'Randomized - Reports'
.row
  .col-sm-9.col-sm-push-3
    .section-heading-internal
      %h1 Randomized
      .section-description
        - if @recruitment
          Data last updated
          = Time.parse(@recruitment[:exported_at]).strftime('%a, %b %d at %I:%M %p.')

    .section-body
      - if @randomized
        %div{ style: 'margin-bottom: 20px', data: { object: 'draw-chart', series: @randomized[:series].to_json, categories: @randomized[:categories].to_json, title: @randomized[:title], yaxis: @randomized[:yaxis], xaxis: @randomized[:xaxis] } }
      - if @randomized && @randomized[:table]
        = render 'reports/draw_table', table: @randomized[:table]

      .row
        .col-md-4
          = link_to reports_eligible_path, class: 'title-link' do
            .jumbotron.center
              %h4.text-muted Eligible
              .report-number
                %span.glyphicon.glyphicon-arrow-left
        .col-md-4
          .jumbotron.center
            %h4.text-muted Randomized
            .report-number= number_with_delimiter @randomized[:total] rescue 0
        .col-md-4
          = link_to reports_data_quality_path, class: 'title-link' do
            .jumbotron.center
              %h4.text-muted Data Quality
              .report-number
                %span.glyphicon.glyphicon-arrow-right

  .col-sm-3.col-sm-pull-9
    = render 'internal/menu'
