- if viewer.new_record?
  - url = admin_viewers_path
  - method = :post
- else
  - url = admin_viewer_path(viewer)
  - method = :patch

= form_with model: viewer, url: url, method: method, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: viewer, key: :username, help_text: sanitize("Must start with a letter <code>a-z</code> <code>A-Z</code> followed by letters <code>a-z</code> <code>A-Z</code>, or numbers <code>0-9</code>.")
  .form-group.row
    = form.label :password, nil, class: "col-md-2 col-form-label"
    .col-md-10
      = form.text_field :password, class: "form-control#{" is-invalid" if viewer.errors[:password].present?}", value: viewer.password_plain
      = render "forms/invalid_feedback", object: viewer, key: :password
  = render "forms/horizontal/text_area", form: form, object: viewer, key: :description
  = render "forms/horizontal/submit", form: form, object: viewer, cancel: url
