%table.table.table-striped.table-fixed
  %thead
    %tr
      = th_sort_field @order, 'viewers.username', 'Username'
      %th Password
      = th_sort_field @order, 'viewers.current_sign_in_at', 'Recent Activity'
      = th_sort_field @order, 'viewers.sign_in_count', 'Sign in Count'
      %th Actions

  - @viewers.each do |viewer|
    %tr
      %td= link_to viewer.username, admin_viewer_path(viewer)
      %td
        %span.masked{ data: { object: 'click-to-view', content: viewer.password_plain } }
          = '*' * viewer.password_plain.to_s.size
      %td
        - if viewer.current_sign_in_at
          = time_ago_in_words viewer.current_sign_in_at
          ago
      %td= number_with_delimiter viewer.sign_in_count
      %td
        = link_to 'Edit', edit_admin_viewer_path(viewer), class: 'btn btn-default btn-xs'
        = link_to 'Delete', admin_viewer_path(viewer), method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete Viewer #{viewer.username}?" }

.center
  = paginate @viewers, theme: 'bootstrap'
