.container
  .row
    .col-sm-3
      = render 'setup/menu'
    .col-sm-9
      .color-container.dark-purple
        %h1.brand= @viewer.username
        %h4.purple
          You can change the viewer's password by clicking edit.

      %a.anchor-top{ name: 'home'}
      .color-container.dark-brown
        %p
          = link_to 'Edit Viewer', edit_admin_viewer_path(@viewer)

      %table.table.table-striped.table-fixed
        %tr
          %td Username
          %td= @viewer.username
        %tr
          %td Password
          %td
            %span.masked{ data: { object: 'click-to-view', content: @viewer.password_plain } }
              = '*' * @viewer.password_plain.to_s.size
        %tr
          %td Sign in Count
          %td= number_with_delimiter @viewer.sign_in_count

        %tr
          %td Description
          %td= @viewer.description
