.row
  .col-md-9.order-2
    .section-heading-internal
      %h1
        = link_to 'Viewers', admin_viewers_path
        &middot;
        = @viewer.username
        = link_to 'Edit Viewer', edit_admin_viewer_path(@viewer), class: 'btn btn-xs btn-default'

    .section-body
      %table.table.table-striped.table-fixed
        %tr
          %td Username
          %td= @viewer.username
        %tr
          %td Password
          %td
            %span.masked{ data: { object: 'click-to-view', content: @viewer.password_plain } }
              = '*' * @viewer.password_plain.to_s.size
        %tr
          %td Sign in Count
          %td= number_with_delimiter @viewer.sign_in_count

        %tr
          %td Description
          %td= @viewer.description
  .col-md-3.order-1
    = render 'setup/menu'
