.footer
  .footer-on-top
    = image_tag 'pats-girl.png', alt: '', height: '40px', style: 'text-align:right'
    = image_tag 'pats-boy.png', alt: '', height: '40px', style: 'text-align:right'
  .row
    .col-xs-5.nowrap
      &copy;
      = Date.today.year
      PATS Trial
    .col-xs-2
      .brand.center
        = link_to 'P', root_path, class: 'footer-link'
    .col-xs-5.nowrap.text-right
      Funded By
      = link_to 'https://clinicaltrials.gov/show/NCT02562040', target: '_blank' do
        %span.visible-xs-inline.visible-sm-inline
          NHLBI
        %span.hidden-xs.hidden-sm
          National Heart, Lung, and Blood Institute
