- if public_page?
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-full-menu' } }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = image_tag 'pats-boy.png', alt: '', style: 'height:40px;padding-top:10px'
        = link_to 'PATS', '#top', class: 'navbar-brand brand', data: { object: 'scroll-anchor' }
        = image_tag 'pats-girl.png', alt: '', style: 'height:40px;padding-top:10px;padding-right:15px'
      .collapse.navbar-collapse.navbar-full-menu
        %ul.nav.navbar-nav
          - if current_user || current_viewer
            %li.visible-xs{ class: "#{ 'active' if current_page?(dashboard_path) }" }
              = link_to 'Dashboard', dashboard_path
          %li= link_to 'About', root_path(anchor: 'about'), data: { object: 'remove-collapse-in scroll-anchor', target: '.navbar-full-menu' }
          %li= link_to 'Participate', root_path(anchor: 'participate'), data: { object: 'remove-collapse-in scroll-anchor', target: '.navbar-full-menu' }
          %li= link_to 'Sites', root_path(anchor: 'sites'), data: { object: 'remove-collapse-in scroll-anchor', target: '.navbar-full-menu' }
          %li= link_to 'Contact', root_path(anchor: 'contact'), data: { object: 'remove-collapse-in scroll-anchor', target: '.navbar-full-menu' }
        - if current_user || current_viewer
          %form.navbar-form.navbar-right
            = link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary-dark'
          %ul.nav.navbar-nav.navbar-right.hidden-xs
            - name = current_user ? current_user.first_name_and_staff_id : current_viewer.username
            %li= link_to name, dashboard_path
        - else
          %form.navbar-form.navbar-right
            = link_to 'Staff Login', new_user_session_path, class: 'btn btn-primary-dark'
- else
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-full-menu' } }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = image_tag 'pats-boy.png', alt: '', style: 'height:40px;padding-top:10px'
        = link_to 'PATS', (current_user || current_viewer) ? dashboard_path : root_path, class: 'navbar-brand brand'
        = image_tag 'pats-girl.png', alt: '', style: 'height:40px;padding-top:10px;padding-right:15px'
      .collapse.navbar-collapse.navbar-full-menu
        %ul.nav.navbar-nav
          - if current_user || current_viewer
            %li{ class: "#{'active' if current_page?(dashboard_path)}" }= link_to 'Dashboard', dashboard_path
            %li{ class: "#{'active' if current_page?(committees_path)}" }= link_to 'Committees', committees_path
            %li{ class: "#{'active' if current_page?(directory_path)}" }= link_to 'Directory', directory_path
        - if current_user || current_viewer
          %form.navbar-form.navbar-right
            = link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary-dark'
          %ul.nav.navbar-nav.navbar-right.hidden-xs{ style: 'max-height: 50px' }
            - name = current_user ? current_user.first_name_and_staff_id : current_viewer.username
            %li= link_to name, dashboard_path
        - else
          %form.navbar-form.navbar-right
            = link_to 'Staff Login', new_user_session_path, class: 'btn btn-primary-dark'
