%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-full-menu' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = image_tag 'pats-boy.png', alt: '', style: 'height:40px;padding-top:10px'
      - if public_page?
        = link_to 'PATS', '#top', class: 'navbar-brand brand', data: { object: 'scroll-anchor' }
      - else
        = link_to 'PATS', (current_user || current_viewer) ? dashboard_path : root_path, class: 'navbar-brand brand'
      = image_tag 'pats-girl.png', alt: '', style: 'height:40px;padding-top:10px;padding-right:15px'
    .collapse.navbar-collapse.navbar-full-menu
      %ul.nav.navbar-nav
        - if current_user || current_viewer
          - if public_page?
            %li.visible-xs{ class: "#{ 'active' if current_page?(dashboard_path) }" }= link_to 'Dashboard', dashboard_path
          - else
            %li{ class: "#{'active' if current_page?(dashboard_path)}" }= link_to 'Dashboard', dashboard_path
            %li{ class: "#{'active' if current_page?(committees_path)}" }= link_to 'Committees', committees_path
            %li{ class: "#{'active' if current_page?(directory_path)}" }= link_to 'Directory', directory_path
          - if current_user && current_user.setup_role?
            %li.visible-xs{ class: "#{ 'active' if current_page?(setup_path) }" }= link_to 'Setup', setup_path
        - if public_page?
          %li= link_to 'About', current_page?(root_path) ? '#about' : root_path(anchor: 'about'), data: { object: 'remove-collapse-in scroll-anchor', target: '.navbar-full-menu' }
          %li= link_to 'Participate', current_page?(root_path) ? '#participate' : root_path(anchor: 'participate'), data: { object: 'remove-collapse-in scroll-anchor', target: '.navbar-full-menu' }
          %li= link_to 'Sites', current_page?(root_path) ? '#sites' : root_path(anchor: 'sites'), data: { object: 'remove-collapse-in scroll-anchor', target: '.navbar-full-menu' }
          %li= link_to 'Contact', current_page?(root_path) ? '#contact' : root_path(anchor: 'contact'), data: { object: 'remove-collapse-in scroll-anchor', target: '.navbar-full-menu' }

      - if current_user || current_viewer
        %form.navbar-form.navbar-right.hidden-sm
          = link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary-dark'
      - else
        %form.navbar-form.navbar-right
          = link_to 'Staff Login', new_user_session_path, class: 'btn btn-primary-dark'

      - if current_user || current_viewer
        %ul.nav.navbar-nav.navbar-right.hidden-xs{ style: 'max-height: 50px' }
          %li.dropdown.hidden-xs
            = link_to '#', class: 'dropdown-toggle', data: { object: 'dropdown', toggle: 'dropdown' } do
              = current_user ? current_user.first_name : current_viewer.username
              - if current_user && current_user.staff_id.present?
                %code{ style: 'color: #fff;' }= current_user.staff_id
              %span.caret
            %ul.dropdown-menu{ role: 'menu' }
              %li
                = link_to dashboard_path do
                  %span.glyphicon.glyphicon-blackboard
                  Dashboard
              - if current_user && current_user.setup_role?
                %li.divider
                %li
                  = link_to setup_path do
                    %span.glyphicon.glyphicon-cog
                    Setup
              %li.divider.visible-sm
              %li.visible-sm
                = link_to destroy_user_session_path do
                  %span.glyphicon.glyphicon-log-out
                  Logout
          %li.visible-xs
            = link_to 'Dashboard', dashboard_path
          - if current_user && current_user.setup_role?
            %li.visible-xs= link_to 'Setup', setup_path
