!!!
%html
  %head
    %meta{ charset: 'utf-8'}
    %meta{ content: 'IE=Edge,chrome=1', http: { equiv: 'X-UA-Compatible' } }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{ name: 'description', content: 'PATS Trial' }
    %meta{ name: 'author', content: '' }

    %title PATS Trial

    = favicon_link_tag
    = csrf_meta_tags

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{ src: '//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' }
      %script{ src: '//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js' }

    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag 'application', data: { turbolinks_track: true }
    = javascript_tag "var root_url='#{request.script_name + '/'}';var auth_token='#{form_authenticity_token}';"
  %body
    .center
      = image_tag 'pats-boy.png', alt: '', class: 'img-responsive wiggle hidden-xs', style: 'max-height:148px;margin: 0 auto; display: inline-block'
      %h1.brand.dark-purple{ style: 'font-size: 96px; display: inline-block' }
        = link_to 'PATS', root_path, class: 'title-link'
      = image_tag 'pats-girl.png', alt: '', class: 'img-responsive wiggle hidden-xs', style: 'max-height:148px;margin: 0 auto; display: inline-block'
    = render 'layouts/flash_messages'

    = yield

    .dark-purple
      .container
        .color-container
          %h2.brand Useful Links
          %ul
            %li= link_to 'Root', root_path, class: 'brand'
            %li= link_to 'Theme', theme_path, class: 'brand'
            %li= link_to 'Window', window_path, class: 'brand'
            %li= link_to 'Credits', credits_path, class: 'brand'
            - if current_user
              - if false
                %li= link_to 'Dashboard', dashboard_path, class: 'brand'
              %li= link_to 'Sign Out', destroy_user_session_path, class: 'brand'
            - else
              %li= link_to 'Login', new_user_session_path, class: 'brand'
              %li= link_to 'Sign Up', new_user_registration_path, class: 'brand'



    .footer-container.white-on-brown-light
      .container
        = render 'layouts/footer'
