= form_for @member, html: { class: 'form-horizontal' } do |f|
  - if @member.errors.any?
    .bs-callout.bs-callout-danger
      %h4
        = pluralize @member.errors.count, 'error'
        prohibited this member from being saved

      %ul
        - @member.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :first_name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :first_name, class: 'form-control'

  .form-group
    = f.label :last_name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :last_name, class: 'form-control'

  .form-group
    = f.label :email, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.email_field :email, class: 'form-control'

  .form-group
    = f.label :phone, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :phone, class: 'form-control'

  .form-group
    = f.label :role, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :role, class: 'form-control'

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'cancel', @member.new_record? ? @member : members_path, class: ''
